@import url("https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap");

body {
  font-family: "Playfair", serif;
}

* {
  margin: 0;
  padding: 0;
}

#navigation {
  /* background-color: dodgerblue; */
  background-image: linear-gradient(rgb(0, 128, 255),rgba(2, 57, 113, 0.768));
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
}

.logo_tittle > h1 > span {
  color: yellow;
  font-size: 44px;
}

#navigation > ul {
  display: flex;
  margin-right: 50px;
}

#navigation > ul > li {
  list-style: none;
}

#navigation > ul > li > a {
  text-decoration: none;
  color: aliceblue;
  font-size: 20px;
  border-right: 2px solid rgb(255, 255, 255);
  padding: 6px 20px;
  transition: 0.9s;
}
#navigation > ul > li:first-child > a {
  border-left: 2px solid white;
}

#navigation > ul > li:hover > a {
  background-color: deepskyblue;
}
.logo_tittle h1 {
  margin-left: 50px;
  color: aliceblue;
}

/* drop down menu design */

.dropdown_menu {
  background-color: brown;
  text-align: center;
  margin-top: 28px;
  width: 150px;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: 0.9s;
  transform: scaley(0);
  transform-origin: top;
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.549);
}

.dropdown_menu > li {
  list-style: none;
  padding: 10px 15px;
  border-bottom: 1px solid white;
}

.dropdown_menu > li:hover {
  background-color: yellow;
}

.dropdown_menu > li > a:hover {
  color: black;
}

.dropdown_menu > li:first-child {
  border-top: 1px solid rgb(255, 255, 255);
}

.dropdown_menu > li > a {
  color: white;
  text-decoration: none;
  font-size: 22px;
}
#navigation > ul > li:hover > .dropdown_menu {
  opacity: 1;
  visibility: visible;
  transform: scaley(1);
}

/* Banner section desing */
#main_area {
  min-height: 90vh;
  background-image: url('/Images/web\ header.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

#main_area > .banner_content {
  
}