@import url("https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap");

body {
  font-family: "Playfair", serif;
}

* {
  margin: 0;
  padding: 0;
}

#navigation {
  /* background-color: dodgerblue; */
  background-image: linear-gradient(rgb(0, 128, 255), rgba(2, 57, 113, 0.768));
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
}

.logo_tittle > h1 > span {
  color: yellow;
  font-size: 44px;
}

#navigation > ul {
  display: flex;
  margin-right: 50px;
}

#navigation > ul > li {
  list-style: none;
}

#navigation > ul > li > a {
  text-decoration: none;
  color: aliceblue;
  font-size: 20px;
  border-right: 2px solid rgb(255, 255, 255);
  padding: 6px 20px;
  transition: 0.9s;
}
#navigation > ul > li:first-child > a {
  border-left: 2px solid white;
}

#navigation > ul > li:hover > a {
  background-color: deepskyblue;
}
.logo_tittle h1 {
  margin-left: 50px;
  color: aliceblue;
}

/* drop down menu design */

.dropdown_menu {
  background-color: brown;
  text-align: center;
  margin-top: 28px;
  width: 130px;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: 0.9s;
  transform: scaley(0);
  transform-origin: top;
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.549);
}

.dropdown_menu > li {
  list-style: none;
  padding: 10px 15px;
  border-bottom: 1px solid white;
}

.dropdown_menu > li:hover {
  background-color: yellow;
}

.dropdown_menu > li > a:hover {
  color: black;
}

.dropdown_menu > li:first-child {
  border-top: 1px solid rgb(255, 255, 255);
}

.dropdown_menu > li > a {
  color: white;
  text-decoration: none;
  font-size: 22px;
}
#navigation > ul > li:hover > .dropdown_menu {
  opacity: 1;
  visibility: visible;
  transform: scaley(1);
}

/* Banner section desing */
#main_area {
  min-height: 100vh;
  background-image: linear-gradient(
      rgba(60, 58, 58, 0.747),
      rgba(0, 0, 0, 0.696)
    ),
    url("/Images/web\ header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;

  align-items: center;
  justify-content: center;
  text-align: center;
}

.banner_content > h1 {
  font-size: 60px;
  color: white;
}
.banner_content > p {
  font-size: 18px;
  margin-bottom: 10px;
  color: white;
  letter-spacing: 1px;
}

.banner_content > button {
  font-size: 20px;
  padding: 15px 30px;
  border: none;
  background-color: #0e7dec;
  color: white;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.5s;
  margin-bottom: 20px;
}

.banner_content > button:hover {
  background-color: transparent;
  border: 2px solid #00356a;
  color: rgb(255, 255, 255);
}

.social_icon > a {
  color: rgb(19, 23, 0);
  margin-right: 8px;
}

.social_icon > a > i {
  width: 50px;
  height: 50px;
  line-height: 2.4;
  font-size: 22px;
  background-color: yellow;
  padding: 4px;
  border: 1px solid black;
  border-radius: 100%;
  transition: 0.9s;
}

.social_icon > a > i:hover {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: 1px solid white;
  transform: rotate(45deg);
}

/* learn section design */
.learn_section {
  padding: 100px 0;
  background: gray;
}

.learn_section > .container_items {
  display: flex;
  gap: 20px;
  width: 1250px;
  margin: 0 auto;
  text-align: center;
}
.container_items > .item {
  background-color: rgb(128, 116, 116);
  padding: 35px;
  border-radius: 6px;
  transition: 0.5s;
}

.item > i {
  font-size: 40px;
}

.item > h1 {
  font-weight: 300;
  margin: 12px 0;
}
.item > p {
  font-size: 18px;
  font-weight: 300;
}

.container_items > .item:hover {
  box-shadow: 4px 4px 10px rgba(20, 20, 20, 0.54);
}

/* second section design */
.smart_section {
  padding: 100px 0;
}
.smart_tittle > h1 {
  font-size: 60px;
  text-align: center;
  position: relative;
}
.smart_tittle > h1::after {
  content: "";
  top: 70px;
  left: 715px;
  width: 100px;
  height: 5px;
  background-color: brown;
  position: absolute;
}
.content_container {
  width: 1250px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 50px;
  margin-top: 50px;
}

.smart_content {
  width: 500px;
}

.img_section {
  width: 500px;
}
.img_section > img {
  width: 100%;
}

.smart_content > h3 {
  font-size: 30px;
  margin: 10px 0;
}

.smart_content > h4 {
  font-size: 28px;
  color: brown;
}

.smart_content > a {
  text-decoration: none;
  font-size: 20px;
  padding: 15px 30px;
  border: none;
  background-color: #0e7dec;
  color: white;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.5s;
  margin: 20px 0;
  display: inline-block;
}

.smart_content > a:hover {
  background-color: transparent;
  border: 2px solid #00356a;
  color: rgb(0, 0, 0);
}

/* services section design */
.service_section {
  padding: 100px 0;
  background-color: rgb(240, 240, 240);
}
.service_tittle {
  text-align: center;
  margin-bottom: 50px;
}
.service_tittle > h4 {
  font-size: 30px;
}
.service_tittle > h2 {
  font-size: 45px;
}
.services_container {
  width: 1250px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.item {
  background-color: rgb(179, 162, 162);
  padding: 35px;
  text-align: center;
  transition: 0.9s;
}
.item:hover {
  box-shadow: 4px 4px 6px rgb(91, 91, 91);
}
.item > h2 {
  margin: 12px 0;
}

/* course section design */

.course_section {
  padding: 100px 0;
}
.price_parent_box {
  width: 1250px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.course_tittle {
  text-align: center;
  font-size: 50px;
  margin-bottom: 50px;
}
.img_box {
  width: 300px;
}

.img_box > img {
  max-width: 100%;
}
.course_item {
  width: 300px;
  text-align: center;
  box-shadow: 2px 2px 4px rgb(71, 71, 71);
  
}

.course_item > h3 {
  font-size: 30px;
  margin: 10px 0;
}
.course_price {
  border-top: 2px dashed black;
  border-bottom: 2px dashed black;
  padding: 15px 0;
  margin: 15px 20px;
  
}
.price {
  font-size: 30px;
}
.course_item > button{

  padding: 15px 30px;
  border: none;
  background-color: brown;
  color: white;
  text-transform: uppercase;
  margin-bottom: 10px;
  transition: 0.9s;
  cursor: pointer;
}
.course_item > button:hover{
  background-color: transparent;
  border: 1px solid red;
  color: black;

}
.course_item > a {
  text-decoration: none;
  font-size: 18px;
  display: inline-block;
  margin-bottom: 20px;
}