@import url("https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap");

body {
  font-family: "Playfair", serif;
}

* {
  margin: 0;
  padding: 0;
}

#navigation {
  /* background-color: dodgerblue; */
  background-image: linear-gradient(rgb(0, 128, 255), rgba(2, 57, 113, 0.768));
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
}

.logo_tittle > h1 > span {
  color: yellow;
  font-size: 44px;
}

#navigation > ul {
  display: flex;
  margin-right: 50px;
}

#navigation > ul > li {
  list-style: none;
}

#navigation > ul > li > a {
  text-decoration: none;
  color: aliceblue;
  font-size: 20px;
  border-right: 2px solid rgb(255, 255, 255);
  padding: 6px 20px;
  transition: 0.9s;
}
#navigation > ul > li:first-child > a {
  border-left: 2px solid white;
}

#navigation > ul > li:hover > a {
  background-color: deepskyblue;
}
.logo_tittle h1 {
  margin-left: 50px;
  color: aliceblue;
}

/* drop down menu design */

.dropdown_menu {
  background-color: brown;
  text-align: center;
  margin-top: 28px;
  width: 130px;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: 0.9s;
  transform: scaley(0);
  transform-origin: top;
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.549);
}

.dropdown_menu > li {
  list-style: none;
  padding: 10px 15px;
  border-bottom: 1px solid white;
}

.dropdown_menu > li:hover {
  background-color: yellow;
}

.dropdown_menu > li > a:hover {
  color: black;
}

.dropdown_menu > li:first-child {
  border-top: 1px solid rgb(255, 255, 255);
}

.dropdown_menu > li > a {
  color: white;
  text-decoration: none;
  font-size: 22px;
}
#navigation > ul > li:hover > .dropdown_menu {
  opacity: 1;
  visibility: visible;
  transform: scaley(1);
}

/* Banner section desing */
#main_area {
  min-height: 100vh;
  background-image: linear-gradient(
      rgba(60, 58, 58, 0.747),
      rgba(0, 0, 0, 0.696)
    ),
    url("/Images/web\ header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;

  align-items: center;
  justify-content: center;
  text-align: center;
}

.banner_content > h1 {
  font-size: 60px;
  color: white;
}
.banner_content > p {
  font-size: 18px;
  margin-bottom: 10px;
  color: white;
  letter-spacing: 1px;
}

.banner_content > button {
  font-size: 20px;
  padding: 15px 30px;
  border: none;
  background-color: #0e7dec;
  color: white;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.5s;
  margin-bottom: 20px;
}

.banner_content > button:hover {
  background-color: transparent;
  border: 2px solid #00356a;
  color: rgb(113, 3, 3);
}

.social_icon > a {
  color: rgb(19, 23, 0);
  margin-right: 8px;
  
}

.social_icon > a > i {
  width: 50px;
  height: 50px;
  line-height: 2.4;
  font-size: 22px;
  background-color: yellow;
  padding: 4px;
  border: 1px solid black;
  border-radius: 100%;
  transition: 0.9s;
}

.social_icon > a > i:hover {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: 1px solid white;
  transform: rotate(45deg);
}

/* learn section design */
.learn_section {
  padding: 100px 0;
  background: gray;
}

.learn_section > .container_items {
  display: flex;
  gap: 20px;
  width: 1250px;
  margin: 0 auto;
  text-align: center;
  
}
.container_items > .item {
  background-color: rgb(128, 116, 116);
  padding: 35px;
  border-radius: 6px;
  transition: 0.5s;

}

.item > i {
  font-size: 40px;
}

.item > h1 {
  font-weight: 300;
  margin: 12px 0;
}
.item > p {
  font-size: 18px;
  font-weight: 300;
}

.container_items > .item:hover {
  box-shadow: 4px 4px 10px rgba(20, 20, 20, 0.54);
}