@import url("https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap");

body {
  font-family: "Playfair", serif;
}

* {
  margin: 0;
  padding: 0;
}

#navigation {
  background-color: dodgerblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

#navigation > ul {
  display: flex;
  margin-right: 50px;
  /* padding: 20px 0; */
}

#navigation > ul > li {
  list-style: none;
  margin: 0 20px;
  /* padding: 15px 0; */
}

#navigation li > a {
  text-decoration: none;
  color: aliceblue;
  font-size: 20px;
}

.logo_tittle h1 {
  margin-left: 50px;
  color: aliceblue;
}
